#wrapper .main .board {
    min-height: 460px;
}
#wrapper .main .board .round{
    text-align: center;
}
#wrapper .main .board .round h3{
    margin: 8px auto;
}
#wrapper .main .board .card{
    max-width: calc(100% / 13);
    margin: 6px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
}
#wrapper .main .board .card img{
    max-width: 100%;
}
#wrapper .main .board .card span.value{
    font-size: 1.5rem;
}
#wrapper .main .board .card.coin{
    box-shadow: 0 2px 12px #debb00;
}
#wrapper .main .board .card.gem{
    box-shadow: 0 2px 12px #047c7c;
}
#wrapper .main .board .card.trap{
    box-shadow: 0 2px 12px #e40404;
}

#wrapper .message[data-type="red"] {
    color: red;
    font-size: 1.5rem;
}