#login .background{
    background: rgba(0, 0, 0, 0.5) url('../image/background/oceania.jpeg') no-repeat center;
    background-size: cover;
    min-height: 95vh;
    filter: blur(4px);
}
#login .content {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
}
#login .logo{
    background: url('../image/FriendShip-logo.gif') no-repeat center;
    width: 100%;
    height: 250px;
}

#login .form {
    text-align: center;
}

#login .form > input{
    text-align: center;
    min-width: 250px;
    height: 50px;
    padding: 5px;
    font-size: 2rem;
}

#login .form > button{
    display: block;
    margin: 20px auto;
    min-width: 250px;
    height: 60px;
    font-size: 2rem;
    cursor: pointer;
}