#wrapper .main .opponents {
    display: flex;
}
#wrapper .main .opponents .seat{
    text-align: center;
    min-height: 200px;
    width: calc(100%/7);
}
#wrapper .main .opponents .seat .image{
     height: 62px;
}
#wrapper .main .opponents .seat .name {
    margin: 5px 0;
}
#wrapper .main .opponents .seat .name h2{
    margin: 5px auto;
}
#wrapper .main .opponents .seat .status .icon{
    margin: 8px auto;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: solid 1px black;
    background: white;
}
#wrapper .main .opponents .seat.taken .status .icon.green{
    background: green;
}
#wrapper .main .opponents .seat.taken .status .icon.red{
    background: red;
}

#wrapper .main .opponents .seat:not(.taken) .status .icon{
    visibility: hidden;
}
#wrapper .main .opponents .seat:not(.taken) .status .image{
    visibility: hidden;
}