#wrapper .main .profile {
    display: flex;
    min-height: 200px;
}
#wrapper .main .profile > div {
    width: calc(100% / 3);
}
#wrapper .main .profile .left{
    display: flex;
}
#wrapper .main .profile .left > div{
    width: 50%;
    text-align: center;
}
#wrapper .main .profile .left img{
    max-width: 45%;
    padding: 10px;
}
#wrapper .main .profile .left span{
    display: block;
}
#wrapper .main .profile .center .status{
    height: 20%;
    text-align: center
}
/*action*/
#wrapper .main .profile .center .decision{
    width: 100%;
    height: 58%;
    display: flex;
    justify-content: space-evenly;
}
#wrapper .main .profile .center .decision button{
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
    margin: auto;
    cursor: pointer;
    background: none;
}
#wrapper .main .profile .center .decision button#go{
    border-color: green;
}
#wrapper .main .profile .center .decision[data-select="go"] button#go{
    box-shadow: 0 0 30px green;
    pointer-events: none;
}
#wrapper .main .profile .center .decision button#leave{
    border-color: red;
}
#wrapper .main .profile .center .decision[data-select="leave"] button#leave{
    box-shadow: 0 0 30px red;
    pointer-events: none;
}
#wrapper .main .profile .center .decision[data-select="leave"] button,
#wrapper .main .profile .center .decision[data-select="go"] button{
    pointer-events: none;
}
#wrapper .main .profile .center .name{
    width: 100%;
    height: 20%;
    text-align: center;
}
#wrapper .main .profile .center .name h2{
    margin: 5px auto;
}
/*profile right - chest*/
#wrapper .main .profile .right .tmp{
    text-align: center;
}
#wrapper .main .profile .right .tmp > p{
    margin: 5px;
}
#wrapper .main .profile .right .tmp .coin{
    font-size: 1.6rem;
}
#wrapper .main .profile .right .chest{
    padding-left: 20px;
}
#wrapper .main .profile .right .chest p{
    margin: 6px 0;
}
#wrapper .main .profile .right .chest .coin,
#wrapper .main .profile .right .chest .gem{
    font-size: 2rem;
    font-weight: 600;
}