#score {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 70%;
    height: 80%;
    background: url('../image/background/score-bg.jpg') no-repeat center;
    background-size: contain;
}
#score table{
    margin: 20px auto 50px;
    width: 65%;
}
#score table caption {
    padding: 40px;
    font-size: 2rem;
}
#score table thead th {
    font-size: 1.2rem;
}
#score table th[scope="row"] {
    padding: 10px;
    font-size: 1.2rem;
    width: 30%;
}

#score table > :not(thead) th,
#score table > :not(thead) td {
    border-top: solid 3px #41403E;
}

#score table > :not(thead) td {
    font-size: 1.4rem;
    background: #d7d4d47a;
}

#exit{
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
    margin: auto;
    cursor: pointer;
    background: none;
}