@import "login.css";
@import "opponents.css";
@import "profile.css";
@import "board.css";
@import "score.css";
html * {
    font-family: "Chelsea Market", system-ui;
    font-weight: 400;
    font-style: normal;
}
.hidden {
    visibility: hidden;
}
#wrapper div {
    border: solid 1px black;
}
#wrapper .main {
    width: 80%;
}
#wrapper .main .image{
    width: 50%;
    margin: 6px auto;
}
#wrapper .main .image img{
    width: 50%;
}

#wrapper .main .message{
    text-align: center;
}
#wrapper .main .message > p{
    margin: 8px auto;
}

span.coin {
    color: #debb00;
}
span.gem {
    color: #047c7c;
}

#system {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
}